@import "../variables";

.furniture {
  margin-bottom: 50px;
  &__menu{
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 1px solid $grayBlack;
  }
  &__title {
    font-size: $fontSize22;
    font-weight: bold;
  }
  &__box{
    display: flex;
    justify-content: center;
    &_hidden{
      display: none;
    }
  }

  &__btn-load {
    display: block;
  }
  &__load-icon{
    font-size: $fontSize26;
    color: $black;
    background: $grayBlue;
    border: 1px solid $grayBlue;
    padding: 15px;
    border-radius: 50%;
    &:hover{
      background: $darkOrange;
    }
  }

  &__card {
    //margin: 0 auto;
    max-width: 264px;

    &:hover .furniture__price {
      background: $darkOrange;
    }

    &:hover .furniture__description {
      color: $darkOrange;
    }

    &:hover .furniture__block-hover {
       display: flex;
     }
    &:hover .furniture__sale-hover {
      display: inline-block;
    }
  }

  &__img {
    position: relative;
    width: 262px;
    height: 260px;
    padding: 5px;
    opacity: 0.8;
    background-color: $grayBlue;
  }

  &__description {
    font-size: $fontSize16;
    font-weight: bold;
  }

  &__line {
    background: #000;

    &::before {
      content: '';
      width: 30px;
      height: 5px;
      background-color: #d58e32;
      display: block;
      position: relative;
      margin: 0 auto;
      top: -3px;
    }
  }

  &__price {
    font-weight: bold;
    background: $black;
    color: $white;
    padding: 8px;
  }

  &__icon-exchange {
    border: 1px solid $black;
    cursor: pointer;
  }

  &__icon-favorites {
    border: 1px solid $black;
    cursor: pointer;

    &:hover {
      color: $darkOrange;
      border: $darkOrange;
    }
  }

  &__block-hover {
    display: none;
    position: absolute;
    bottom: 164px;
    font-size: $fontSize11;
    padding: 0 5px;
    width: 100%;
    cursor: pointer;
  }

  &__text-hover {
    font-size: $fontSize12;
    background: $grayBlack;
    color: $white;
    padding: 12px 8px;
  }

  &__basket-hover {
    @extend .furniture__text-hover
  }
  &__sale-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    text-decoration: none;
    padding: 6px 8px 8px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: 0.3s;
    background-color: $grayBlack;
    color: $white;
    font-size: $fontSize13;
    cursor: pointer;
    font-weight: 600;
  }

  &__filters-title {
    font-size: $fontSize14;
    font-weight: 500;
  }
}

/**************block Star ratings************/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  padding: 12px 0 4px 0;

  &__star {
    display: inline-block;
    position: relative;
    width: 16px;
    font-size: $fontSize25;
    color: $gray;
    cursor: pointer;

    &_active:before {
      content: "\2605";
      position: absolute;
      color: $grayBlack;
    }
  }

  &__star:hover:before,
  &__star:hover ~ &__star:before {
    content: "\2605";
    position: absolute;
    color: $grayBlack;
  }
}
