@import "../variables";

.newsletter {
  padding: 35px 0;
  background-color: $lightGray;

  &__title {
    font-size: $fontSize20;
    margin-right: 20px;
    color: $darkOrange;
  }

  &__wrap-icon {
    background: $white;
    position: relative;
    padding-right: 16px;
    color: $darkOrange;
  }

  &__wrap-icon::after {
    content: "|";
    width: 5px;
    height: 3px;
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
    color: $grayInputNewsletter;
  }

  &__btn {
    color: $darkOrange;
  }
}

@media screen and (max-width: 460px) {
  .newsletter {
    &__wrap-icon,
    &__input,
    &__btn {
      font-size: $fontSize11;
    }
  }
}

@media screen and (max-width: 600px) {
  .newsletter {
    &__title {
      display: none;
    }
  }
}

  @media screen and (max-width: 768px) {
    .newsletter {
      &__title {
        font-size: $fontSize14;
      }

      &__wrap-icon,
      &__input,
      &__btn {
        font-size: $fontSize12;
      }

      &__wrap-icon::after {
        top: calc(50% - 9px)
      }
    }
  }